<footer class="footer text-center">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <b><p>Copyright &copy; <%- new Date().getFullYear() %> Thruskills. All rights reserved.</p>
            <p>Powered by <a target="_blank" href="https://www.thruskills.com/"> Thruskills </a></p></b>
        </div>
    </div>
</footer>