<title>Responsive Resume/CV／Portfolio Template</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Responsive Resume/CV／Portfolio Template">
<meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
<link rel="shortcut icon" href="favicon.ico">  
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- Global CSS -->
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">   
<!-- Plugins CSS -->
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css">

<!-- Theme CSS -->  
<link id="theme-style" rel="stylesheet" href="/css/styles.css">
<!-- <link rel="stylesheet" href="/css/contact.css"> -->
