
 <!-- Javascript -->          
 <script type="text/javascript" src="/plugins/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="/plugins/popper.min.js"></script> 
 <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>  
 <script type="text/javascript" src="/plugins/back-to-top.js"></script>
 <script type="text/javascript" src="/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
 <script type="text/javascript" src="/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="/plugins/imagesloaded.pkgd.min.js"></script> 
 <script type="text/javascript" src="/plugins/isotope.pkgd.min.js"></script>  

 <!-- custom js -->
 <script type="text/javascript" src="/js/main.js"></script>
 <!-- <script type="text/javascript" src="/js/contact.js"></script> -->
 
 <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
 <script src="/js/demo/style-switcher.js"></script>   