<div class="header">
	<div class="contact-info">
			<% if( portfolio.about ){  %>

		<div class="container ">
				<ul class="list-inline">
				<li class="list-inline-item"><a href ="/"><h4><i class="fa fa-long-arrow-left"></i>
				<%= portfolio.about.name %></h4></a> </li>
				<li class="email list-inline-item pull-right" ><i class="fa fa-envelope"></i><a href="<%= portfolio.about.email %>"><%= portfolio.about.email %></a></li>
				<li class="list-inline-item pull-right"><i class="fa fa-phone"></i> <a href="tel: <%= portfolio.about.mobile %>"><%= portfolio.about.mobile %></a></li>
			</ul>
		</div>
		<% } %>
	</div>
</div>
<section id="blog-section" class="blog-section section">
	<div class="blog-area pt-120 pb-90">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<article class="blog-post">
							<div class="blog-thumb">
								<a href="/blog-detail"><img src="/images/portfolio/portfolio-1.jpg" alt=""></a>
							</div>
							<div class="blog-content">
								<h3 ><%=blog.title %></h3>
								<P><%- blog.content %></P>
							</div>
						</article>
					</div>
					
				</div>
			</div>
	</div>
</section>
