<div class="header">

    <div class="top-bar container-fluid">
        <div class="actions">
               
            <a href="#" class="btn" data-toggle="modal" data-target="#book-service"></i>Hire Me</a> 
            <a class="btn" href="/"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
        </div>
        <ul class="social list-inline">
            <li class="list-inline-item"><a href="<%= portfolio.social.linkdin %>"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="<%= portfolio.social.twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="<%= portfolio.social.google_plus %>"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="<%= portfolio.social.github %>"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="<%= portfolio.social.skype %>"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    
    <div class="intro">
         <% if( portfolio.about ){  %>
        <div class="container text-center">
               
            <img class="profile-image" src="/images/profile-image.png" alt="">
            <h1 class="name"><%= portfolio.about.name %></h1>
            <div class="title">Full Stack Developer</div>
            <div class="profile">
                <p><%= portfolio.about.description %></p>
            </div>
        </div>
        <% } %>
    </div>
    
    <div class="contact-info">
            <% if( portfolio.about ){  %>
        <div class="container text-center">
            <ul class="list-inline">
                <li class="email list-inline-item"><i class="fa fa-envelope"></i><a href="<%= portfolio.about.email %>"><%= portfolio.about.email %></a></li>
                <li class="list-inline-item"><i class="fa fa-phone"></i> <a href="tel: <%= portfolio.about.mobile %>"><%= portfolio.about.mobile %></a></li>
            </ul>
        </div>
        <% } %>
    </div>
    
    <div class="page-nav-space-holder d-none d-md-block">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li class="nav-item"><a class="scrollto nav-link" href="/#experiences-section">Experiences</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="/#education-section">Education</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="/#skills-section">Skills</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="/#portfolio-section">Portfolio</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="/#blog-section">Blog</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="/#contact-section">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrapper container">
    <section id="experiences-section" class="experiences-section section">
        <h2 class="section-title">Work Experiences</h2>
            <div class="timeline">
                    <% if(portfolio.experience == undefined ||portfolio.experience .length < 1){  %>
                        <% } else { for(var i =0; i< portfolio.experience.length; i++){%>
                <div class="item">
                    <div class="work-place">
                        <h3 class="place"><%= portfolio.experience[i].company_name  %></h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><%= portfolio.experience[i].location %></div>
                    </div>
                    <div class="job-meta">
                        <div class="title"><%= portfolio.experience[i].position %></div>
                        <div class="time"><%= portfolio.experience[i].work_period %></div>
                    </div>
                    <div class="job-desc">
                        <p><%= portfolio.experience[i].description %></p> 
                    </div>
                </div>
                <% }} %>
            </div>
    </section>
    
    <section id="education-section" class="education-section section">
        <h2 class="section-title">Education</h2>
        <div class="row">
                <% if(portfolio.education == undefined ||portfolio.education .length < 1){  %>
                    <% } else { for(var i =0; i< portfolio.education.length; i++){%>
            <div class="item col-12 col-md-4">
                <div class="item-inner">
                    <h3 class="degree"><%= portfolio.education[i].course %></h3>
                    <div class="education-body">
                        <%= portfolio.education[i].university %>
                    </div>
                    <div class="time">2011 - 2012</div>
                    <div class="desc">
                       <%= portfolio.education[i].description %>
                    </div>
                </div>
            </div>
            <% }} %>

        </div>
    </section>
     
    <section id="skills-section" class="skills-section section text-center">
        <h2 class="section-title">Professional Skills</h2>
        <div class="top-skills">
            <h3 class="subtitle">Top Skills</h3>
            <div class="row">
                    <% if(portfolio.skills == undefined ||portfolio.skills .length < 1){  %>
                        <% } else { for(var i =0; i< 3; i++){%>
                <div class="item col-12 col-md-4">
                    <div class="item-inner">
                        <div class="chart-easy-pie text-center">
                            <div class="chart-theme-1 chart" data-percent="<%= portfolio.skills[i].persent %>"><span></span>%</div>
                        </div>
                        <h4 class="skill-name"><%= portfolio.skills[i].course_name %></h4>
                        <div class="level"><%= portfolio.skills[i].experience %></div>
                        <div class="desc">
                           <%= portfolio.skills[i].description %>
                        </div>
                    </div>
                </div>
                <% }} %>
        </div>
        
        <div class="other-skills">
            <h3 class="subtitle">Other Skills</h3>
            <div class="misc-skills">
                    <% if(portfolio.skills == undefined ||portfolio.skills.length < 1){  %>
                    <% } else { for(var i =3; i< portfolio.skills.length; i++){%>
                <span class="skill-tag"><%= portfolio.skills[i].other_skills %></span>
                <% }} %>
            </div>
        </div>
    </section>

    <section id="portfolio-section" class="portfolio-section section">
        <h2 class="section-title">Portfolio</h2>
        <ul id="filters" class="filters clearfix">
            <li class="type active" data-filter="*">All</li>
            <li class="type" data-filter=".backend">Back-end</li>
            <li class="type" data-filter=".frontend">Front-end</li>
        </ul>
        <div class="items-wrapper isotope row">
            <% if(project == undefined ||project.length < 1){  %>
            <% } else { for(var i =0; i< project.length; i++){%>
          <% if(project[i].type =='frontend'){%>
            <div class="item frontend col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="/images/portfolio/portfolio-1.jpg" alt="" />
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="/"><%= project[i].name %></a></h3>
                        <div class="meta"><%= project[i].technology %></div>
                        <div class="action"><a href="<%= project[i].repository %>" target="_blanck">View On GitHub</a></div>
                    </div>        
                </div>
            </div>
            <% }else{ %>
            <div class="item backend col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="/images/portfolio/portfolio-2.jpg" alt="" />
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="/"><%= project[i].name %></a></h3>
                        <div class="meta"><%= project[i].technology %></div>
                        <div class="action"><a href="<%= project[i].repository %>" target="_blanck">View On GitHub</a></div>
                    </div>            
                </div>
            </div>
            <% }%>
           <% }} %>
        </div>
    </section>

    <section id="blog-section" class="blog-section section">
            <h2 class="section-title">Blog</h2>
            <div class="items-wrapper isotope row">
                    <% if(blog == undefined ||blog .length < 1){  %>
                        <% } else { for(var i =0; i< blog.length; i++){%>
                <div class="item frontend col-lg-4 col-6">
                    <div class="item-inner">
                        <figure class="figure"><a href="<%= blog[i].uName %>">
                            <img class="img-fluid" src="/images/portfolio/portfolio-1.jpg" alt="" /></a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="<%= blog[i].uName %>"><%= blog[i].title %></a></h3>
                            <div class="meta"><%= blog[i].content %></div></br>
                            <a class="btn" target="_blank" href="<%= blog[i].uName %>"> Read More </a>
                        </div>        
                    </div>
                </div>
                <% }} %>
            </div>
    </section>
    

    <section id="contact-section" class="contact-section section">
        <h2 class="section-title">Get in Touch</h2>
        <div class= "contact">
            <div class="row">
                <div class="intro col-sm-6">
                        <% if( portfolio.about ){  %>
                    <div class="dialog">
                        <p><%- portfolio.about.description %></p>
                        <p><%- portfolio.about.address %></p>
                        <p>Drop me a line at <a href="mailto:<%= portfolio.about.email %>"><%= portfolio.about.email %></a> or call me at <a href="tel:<%= portfolio.about.mobile %>"><%= portfolio.about.mobile %></a></p>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="<%= portfolio.social.linkdin %>"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="<%= portfolio.social.twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="<%= portfolio.social.google_plus %>"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="<%= portfolio.social.github %>"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="<%= portfolio.social.skype %>"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <% } %>
                </div>
                <div class="col-md-6">
                    <div class="form-area">  
                        <form role="form">
                        <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                            </div>
                            
                            <div class="form-group">
                            <textarea class="form-control" type="textarea" id="address" 
                            name="address" placeholder="Address" maxlength="140" rows="7"></textarea>
                            </div>
                    
                        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- partial('partials/modal/quick-book') %>

<!-- <div id="config-panel" class="config-panel d-none d-lg-block">
    <div class="panel-inner">
        <a id="config-trigger" class="config-trigger config-panel-hide" href="/"><i class="fa fa-cog"></i></a>
        <h5 class="panel-title">Choose Colour</h5>
        <ul id="color-options" class="list-unstyled list-inline">
            <li class="theme-1 active list-inline-item"><a data-style="/css/styles.css" data-chart="#00BCD4" href="/"></a></li>
            <li class="theme-2  list-inline-item"><a data-style="/css/styles-2.css" data-chart="#03A9F4" href="/"></a></li>
            <li class="theme-3  list-inline-item"><a data-style="/css/styles-3.css" data-chart="#009688" href="/"></a></li>
            <li class="theme-4  list-inline-item"><a data-style="/css/styles-4.css" data-chart="#4CAF50" href="/"></a></li>
            <li class="theme-5  list-inline-item"><a data-style="/css/styles-5.css" data-chart="#8BC34A" href="/"></a></li>
            <li class="theme-6  list-inline-item"><a data-style="/css/styles-6.css" data-chart="#C0CA33" href="/"></a></li>
            <li class="theme-7  list-inline-item"><a data-style="/css/styles-7.css" data-chart="#FFC107" href="/"></a></li>
            <li class="theme-8  list-inline-item"><a data-style="/css/styles-8.css" data-chart="#FF9800" href="/"></a></li>
            <li class="theme-9  list-inline-item"><a data-style="/css/styles-9.css" data-chart="#FF5722" href="/"></a></li>
            <li class="theme-10  list-inline-item"><a data-style="/css/styles-10.css" data-chart="#795548" href="/"></a></li>
            <li class="theme-11  list-inline-item"><a data-style="/css/styles-11.css" data-chart="#607D8B" href="/"></a></li>
            <li class="theme-12  list-inline-item"><a data-style="/css/styles-12.css" data-chart="#673AB7" href="/"></a></li>
            <li class="theme-13  list-inline-item"><a data-style="/css/styles-13.css" data-chart="#3F51B5" href="/"></a></li>
            <li class="theme-14  list-inline-item"><a data-style="/css/styles-14.css" data-chart="#2196F3" href="/"></a></li>
            <li class="theme-15  list-inline-item"><a data-style="/css/styles-15.css" data-chart="#9C27B0" href="/"></a></li>
            <li class="theme-16  list-inline-item"><a data-style="/css/styles-16.css" data-chart="#E91E63" href="/"></a></li>
        </ul>
        <a id="config-close" class="close" href="/"><i class="fa fa-times-circle"></i></a>
    </div>
</div> -->
