<!doctype html>
<html lang="en">

<head>
     <title><%= title %></title>
     <%- partial('partials/head') %>
</head>

<body>

      <%- body %>

      <%- partial('partials/footer') %>
      <%- partial('partials/scripts') %>
</body>

</html>