
<div class="modal" id="book-service" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-md-12">
                <div class="form-area">  
                    <form role="form">
                        <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" id="hname" name="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="hemail" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="hmobile" name="mobile" placeholder="Mobile Number" required>
                            </div>
                            
                            <div class="form-group">
                            <textarea class="form-control" type="textarea" id="hmessage" 
                            name="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                            </div>
                        
                        <button type="button" style="margin-bottom: 25px;"  id="hire" name="hire" class="btn btn-primary pull-right">Submit Form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>